<div class="book-outer-container">
    <div *ngFor="let book of BookObjList" class="book-container" >
      <div class="book-image-background-container" (click)="handleBook(book)">
        <img src="assets/images/Book1.png" alt="book image" class="book-image" />
      </div>
  
      <div class="book-details" >
        <span class="book-title">{{ book?.bookName }}</span>
  
        <span class="book-author">{{ book?.authorName }}</span>
  
        <div class="quantity-price">
          <span class="book-rating">4.5 *</span>
          <span>{{ book?.quantity }}</span>
        </div>
  
        <span class="book-price"><b>Rs.{{ book?.price }}</b></span>
      </div>
    </div>
  </div>
