<div class="bookdetails-outer-cnt">
    <div class="breadcrumb">
        <a routerLink="/dashboard/books">Home</a> / <a href="#">Book(01)</a>
      </div>
    
    <div  class="book-details-cnt">
        <div class="book-image-and-options">
            <div class="book-image" >
               <img src="../assets/images/Book1.png" height="300px" width="220px">
            </div>
            <div class="options">
                <button mat-flat-button class="cart-button" >ADD TO BAG</button>
                <div  class="quantity-update">
                    <span class="symbol" >-</span>
                    <span class="number-of-books"></span>
                    <span class="symbol">+</span>
                  </div>
                
                <button mat-flat-button class="wishlist-button"> WISHLIST</button>
            </div>
        </div>

        <div class="book-details">
            <span><h2>title</h2></span>
            <span>by </span>
            <div class="rating-quantity">
              <span class="rating">4.5 &#9733;</span>
              <span>quantity</span>
            </div>
            <span><b>Rs.  </b><del>Rs. 699</del></span>
            <hr>
            <p style="margin: 0px;">Book details</p>
            <span><b>vvhghghg</b></span>
            <hr>
            <span><b>Customer FeedBack</b></span>
            <span class="stars">  &#9733; &#9733; &#9733; &#9733; &#9733;</span>
        </div>
      <!-- Display other book details as needed -->
    </div>
  </div>