.cart-outer-cnt{
    width:100%;
}
.cart-details-container {
    max-width: 800px;
    margin: 0 auto;
  }
  .back-to-dashbaord{
    margin-left: 270px;
    cursor: pointer;
  }
  .cart-section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
  }
  .del {
    text-decoration: line-through;
  }
  
  .book-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .place-order-button{
    background-color: #007bff;
    margin-top: 109px;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    width: 115px;
    height: 40px;
    cursor: pointer;
    margin-left: 20px;

  }

  .book-item img {
    width: 80px;
    height: 100px;
    margin-right: 10px;
  }
  
  .book-info {
    flex-grow: 1;
  }
  
  .address-details,
  .order-summary {
    margin-top: 10px;
  }
  
  /* Styles for better readability, adjust as needed */
  h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  h4 {
    margin-bottom: 5px;
    font-size: 1.1em;
  }
  
  p {
    margin-bottom: 3px;
  }
  .symbol{
    border: 1px solid black;
    border-radius: 100%;
    height: 24px; 
    width: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: pointer;
    }
    
}
.quantity-update{
  display: flex;
  flex-direction: row;
  gap:10px;
  margin-top: 5px;
}

.breadcrumb {
    padding: 10px 350px;
    background-color: white;
  }
  
  .breadcrumb a {
    color: black;
    text-decoration: none;
    margin-right: 5px;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }