<div class="breadcrumb">
  <a href="#" routerLink="/dashboard/books">Home</a> / My Wishlist
</div>
<div class="wishlist-container">
   
    <div class="wishlist-header">
      <h2>My Wishlist ({{ wishlistBooks.length }})</h2>
    </div>
    <div class="wishlist-books">
      <div class="book-card" *ngFor="let book of wishlistBooks">
        <div class="book-image">
          <img [src]="book.bookImage" alt="{{ book.title }}" />
        </div>
        <div class="book-details">
          <h3 class="title">{{ book.bookName }}</h3>
          <p class="author">by {{ book.authorName }}</p>
          <p class="price">Rs. {{ book.price }} <del> Rs.4000{{ book.originalPrice }}</del></p>
        </div>
        <button mat-icon-button (click)="removeFromWishlist(book.bookId)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>